DATABASE_URL="postgresql://postgres.project-ref:password@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:password@db.project-ref.supabase.co:5432/postgres"
APP_SNAPSHOT_ID="main"
TMDB_API_KEY=""
